/*global*/
body{
	overflow:hidden;
}
.centered{
	position:absolute;
	top:50%;
	left:50%;
}
.centered > * {
	position:relative; 
	top:-50%;
	left:-50%;
}

/* actual slides */
body{
	background-color: #555555;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 30px;
}
#slides_container{
	display:block;
	width:70%;
	height:100%;
	position:absolute;
	left:15%;
	margin:auto;
	overflow:hidden;
}
.slide{
	margin:5%;
	padding:5%;

	display:none;
	background-color: white;
	height:70%;
	width: 80%;
	border-radius: 15px;

	position:relative;
	left:0px;
	top:0px;

	-moz-box-shadow:    3px 3px 5px 0px #666666;
  	-webkit-box-shadow: 3px 3px 5px 0px #666666;
  	box-shadow:         3px 3px 5px 0px #666666;
}



