/*global*/
body{
	overflow:hidden;
}
.centered{
	position:absolute;
	top:50%;
	left:50%;
}
.centered > * {
	position:relative; 
	top:-50%;
	left:-50%;
}

/* actual slides */
body{
	background-color: black;
}
#slides_container{
	display:block;
	
	position:absolute;
	top:1%;
	bottom:1%;
	left:10%;
	right:10%;

	margin:auto;
	overflow:hidden;

}
.slide{
	padding:3% 10%;

	display:none;
	overflow: hidden;
	background-color: white;
	border-radius: 15px;

	position:absolute;
	top:0%;
	bottom:0%;
	left:0%;
	right:0%;

  	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 26px;
	color: #797979;
}

.slide img{
	max-width:100%; max-height:100%;
}

