/*global*/
body{
	overflow:hidden;
}
.centered{
	position:absolute;
	top:50%;
	left:50%;
}
.centered > * {
	position:relative; 
	top:-50%;
	left:-50%;
}

/* actual slides */
body{
	background-color: #555555;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 30px;
}
#slides_container{
	display:block;
	
	position:absolute;
	top:5%;
	bottom:5%;
	left:10%;
	right:10%;

	margin:auto;
	overflow:hidden;
}
.slide{
	padding:3%;

	display:none;
	overflow: hidden;
	background-color: white;
	border-radius: 15px;

	position:absolute;
	top:0%;
	bottom:0%;
	left:0%;
	right:0%;

	-moz-box-shadow:    3px 3px 5px 0px #666666;
  	-webkit-box-shadow: 3px 3px 5px 0px #666666;
  	box-shadow:         3px 3px 5px 0px #666666;
}

.slide img{
	max-width:100%; max-height:100%;
}

